footer {
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 60%;
    background-color: #ee0d18;
}

/* Estilos del logo */
.logo-fotter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Logo img {
    max-width: 150px;
    margin-bottom: 50px;
}

/* Estilos del primer container */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.link-item {
    margin-left: 100px;
}

/* Estilos del segundo container */
.footer-container-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.redes {
    order: 2;
    margin-right: 40px;
}

.info-restaurante {
    order: 1;
    margin-right: 40px;
}

.info-restaurante {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}