header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e9e4e4;
}

.logo img {
    max-width: 100px;
}

.menu {
    width: 1000px;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color:black;
}

.botones button {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    background-color: #AD0E17;
    font-weight: bold;
    border-radius: 8px;
}
/* ************************************ */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.botones {
    display: flex;
}

.botones button {
    margin-right: 10px;
}

.iconos {
    position: absolute;
    top: 0;
    right: 0;
}

.iconos img {
    margin-left: 10px;
    width: 60px;
    height: 50px;
}

