.imagen-entera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}


.titulo-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #F0EEEEB2;
}
