.container {
    width: 80%; /* Ajusta el ancho de la container según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex;
    justify-content: center; /* Alinea el contenido en el centro */
}

.right-strip {
    height: 200px; /* Ajusta la altura de la franja lateral derecha según tus necesidades */
}