.container-equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
}

.photo-equipo {
    flex: 1;
}

.photo-equipo img {
    max-width: 100%;
    height: auto;
}

.contenido-equipo {
    flex: 1;
    padding: 0 20px;
}


