footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.botones ul, .contacto ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style:none
}

.botones ul li, .contacto ul li {
    display: inline;
    margin-right: 20px;
    list-style:none
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 100px;
}
